.footer-menu,.social {
    border-bottom: 1px solid rgba(216,216,216,.5)
}

.page-footer {
    padding: 36px 6.25% 32px;
    text-align: center
}

.footer-menu {
    padding-bottom: 21px;
    margin-bottom: 20px
}

.footer-menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 500px;
    margin: 0 auto
}

.footer-menu__item {
    min-width: 34%
}

.footer-menu__item:nth-child(2n-1) {
    text-align: left
}

.footer-menu__item:nth-child(2n) {
    text-align: right
}

.footer-menu__link {
    font-family: OpenSans,Arial,sans-serif;
    font-size: 12px;
    line-height: 40px;
    color: #333
}

.footer-menu__link:active,.footer-menu__link:focus,.footer-menu__link:hover {
    color: #28B7A6
}

.f-contacts {
    margin-bottom: 20px
}

.f-contacts__times {
    margin-bottom: 15px
}

.f-contacts__desc,.f-contacts__phone,.f-contacts__time {
    display: block;
    text-align: center;
    font-family: OpenSans,Arial,sans-serif
}

.f-contacts__desc {
    font-size: 13px;
    line-height: 16px;
    color: #666;
    margin-bottom: 7px
}

.f-contacts__time {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #666
}

.f-contacts__phone {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 10px
}

.f-contacts__link {
    font-family: Montserrat,Arial,sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    display: block;
    padding: 17px 20px 18px;
    margin: 0 auto 30px;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,.13);
    color: #28B7A6;
    background-color: #fff;
    max-width: 450px;
    text-align: center
}

.f-contacts__payments {
    margin-bottom: 28px
}

.social {
    margin-bottom: 20px;
    padding-bottom: 28px
}

.footer-b__logo-link {
    margin: 0 auto 27px
}

.footer-b__developer {
    font-family: OpenSans,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #666
}

.footer-b__developer-link {
    color: #28B7A6
}

@media (min-width: 768px) {
    .footer-menu__item:nth-child(1n),.page-footer {
        text-align:left
    }

    .page-footer {
        padding-top: 44px;
        padding-bottom: 25px
    }

    .footer-menu__list {
        padding: 0
    }

    .footer-menu__item {
        min-width: 33.3%
    }

    .footer-menu__item:nth-child(3n+2) {
        text-align: center
    }

    .footer-menu__item:nth-child(3n) {
        text-align: right
    }

    .f-contacts {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .f-contacts__times {
        margin: 0 60px 0 0
    }

    .f-contacts__phones {
        margin: 0
    }

    .f-contacts__desc,.f-contacts__phone,.f-contacts__time {
        text-align: left
    }

    .f-contacts__phone {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 2px
    }

    .f-contacts__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .f-contacts__link {
        margin-bottom: 30px;
        width: 400px
    }

    .f-contacts__payments {
        margin-right: 0
    }

    .social {
        margin-bottom: 21px
    }

    .social__list {
        display: flex;
        justify-content: center
    }

    .footer-b {
        display: flex;
        justify-content: space-between
    }

    .footer-b__logo-link {
        margin: 0
    }

    .footer-b__develop {
        padding-top: 7px
    }

    .footer-b__developer {
        text-align: right
    }
}

@media (min-width: 1065px) {
    .page-footer {
        padding:44px 0 25px
    }

    .footer-t {
        display: flex;
        justify-content: space-between;
        align-items: flex-start
    }

    .footer-menu {
        margin: 0;
        padding: 0;
        border: 0
    }

    .footer-menu__list {
        justify-content: flex-start
    }

    .footer-menu__item:nth-child(1n) {
        text-align: left;
        min-width: 33.3%
    }

    .footer-menu__link {
        line-height: 30px
    }

    .footer-t__wrapper {
        padding-top: 6px
    }

    .f-contacts {
        justify-content: flex-end;
        margin-bottom: 4px
    }

    .f-contacts__times {
        margin-right: 20px
    }

    .f-contacts__phone {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 2px
    }

    .f-contacts__wrapper {
        align-items: flex-end
    }

    .f-contacts__link {
        text-decoration: underline;
        box-shadow: none;
        background-color: transparent;
        width: auto;
        text-align: right;
        padding: 0;
        margin: 0 0 21px
    }

    .f-contacts__payments {
        margin-bottom: 15px;
        margin-right: -7px
    }

    .social {
        padding-bottom: 0;
        border-bottom: none
    }

    .social__list {
        justify-content: flex-end
    }

    .social__item {
        margin-left: 10px
    }
}
