.owl-theme .owl-nav {
  position: relative;
  -webkit-tap-highlight-color: transparent; 
}

.owl-nav .owl-prev {
  position: absolute;
  top: -210px;
  left: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-nav .owl-next {
  position: absolute;
  top: -210px;
  right: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #ffffff;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  cursor: pointer;
  border-radius: 3px; 
  transition: all 0.3s ease;
  font-size: 50px;
  line-height: 25px;
  display: block;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  transition: all 0.3s ease;
  color: #35CBBA;
  text-decoration: none; }

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  -webkit-tap-highlight-color: transparent; 
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; 
}

.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  margin: 12px 5px;
  background-color: #ffffff;
  display: block;
  -webkit-backface-visibility: visible;
  border-radius: 30px; 
  transition: all 0.3s ease;
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 20px;
  background-color: #35CBBA; 
  transition: all 0.3s ease;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #35CBBA;
  transition: all 0.3s ease;
}
