.advantage__desc,.cart-menu__data,.cart-menu__term,.contacts__phone,.contacts__time,.develop,
.f-contacts__desc,.f-contacts__phone,.f-contacts__time,
.h-contacts__desc,.h-contacts__phone,.h-contacts__time,
.footer-menu__list,.last-article__text,.search__input,.small-cat-card__article,.small-cat-card__price-def {
    font-family: OpenSans,Arial,sans-serif
}

.advantage::after,.cart-menu::before,.promo__item,.search__input {
    background-repeat: no-repeat
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.container {
	    margin: 0;
	}
@media (min-width: 1065px) {
	.container {
	    max-width: 1025px;
	    margin: 0 auto
	}
}

.button {
    display: block;
    border-radius: 20px;
    width: 180px;
    min-height: 40px;
    padding: 10px;
    font-size: 14px
}

.button--fat {
    width: 160px;
    padding: 14px;
    font-size: 12px;
    border-radius: 25px;
    font-weight: 600
}

.button--square {
    border-radius: 5px
}

.button--green {
    background-color: #35cbba;
    color: #fff
}

.button--green-outline {
    border: 1px solid #35cbba;
    background-color: #fff;
    color: #35cbba
}

.button--gray {
    background-color: #626262;
    color: #fff
}

.button--white {
    background-color: #fff;
    color: #35cbba
}

.button--gray,.button--white {
    box-shadow: 0 2px 6px rgba(0,0,0,.13)
}

.button {
    line-height: 20px;
    text-align: center
}

.button--t-up,.cart-menu__title,.fast-links__item,.small-cat-card__article {
    text-transform: uppercase
}


















.fast-links,.toggle {
    box-shadow: 0 2px 6px rgba(0,0,0,.13)
}








.fast-links {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px
}

.fast-links__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 6px
}

.fast-links__list:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 96%;
    height: 1px;
    background-color: #ebebeb;
    bottom: -1px;
    left: 20px
}

.fast-links__item {
    flex-grow: 1;
    text-align: center;
    font-weight: 700;
    line-height: 14px
}

.fast-links__item:first-child {
    padding-left: 0
}

.fast-links__item:last-child {
    padding-right: 0
}

.fast-links__link {
    display: block;
    padding: 12px 0 18px;
    position: relative
}

.fast-links__item:not(:last-child) .fast-links__link::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 40%;
    background-color: #ebebeb;
    top: -6px;
    margin: auto;
    bottom: 0;
    right: 0
}

.fast-links__item:hover .fast-links__link,
.fast-links__link:hover {
    background-color: #35cbba;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 16px 0 14px
}

.submenu__wrapper {
    position: absolute;
    display: none;
    box-shadow: 0 4px 6px rgba(0,0,0,.13);
    width: 100%;
    background-color: #fff;
    z-index: 19;
    border-top: 4px solid #35CBBA;
    padding: 20px 30px;
    text-align: left;
    text-transform: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    top: 49px
}

.fast-links__item:hover .submenu__wrapper {
    display: block
}

.fast-links__item:hover .fast-links__link::after,
.fast-links__link:hover::after {
    display: none
}

.submenu__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(216,216,216,.5)
}

.submenu__list {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap
}

.submenu__item {
    width: 33.3%
}

.promo {
    min-height: 380px;
    background-color: #6b6867;
    border-radius: 5px;
    color: #fff
}

.promo__item {
    padding: 52px 60px;
    min-height: 380px;
    background-image: url(../img/promo.jpg);
    background-size: cover
}

.promo__title {
    font-size: 38px;
    margin-bottom: 25px;
    line-height: 47px
}

.promo__link {
    font-weight: 600
}

.toggle {
    border-radius: 30px;
    min-height: 45px;
    padding: 3px;
    font-size: 14px;
    background-color: #fff;
    display: flex
}

.toggle__item {
    font-weight: 700;
    font-size: 16px;
    color: #35cbba
}

.toggle__link {
    display: block;
    color: #35cbba;
    padding: 11px 33px
}

.toggle__item--active {
    background-color: #35cbba;
    border-radius: 30px
}

.toggle__item--active .toggle__link {
    color: #fff
}

.small-catalog {
    margin-bottom: 60px
}

.small-catalog__button {
    width: auto;
    padding: 10px 32px;
    font-weight: 700
}

.small-catalog__header {
    min-height: 85px;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center
}

.small-catalog__list {
    display: flex;
    flex-wrap: wrap
}

.small-catalog__item {
    border: 1px solid #ebebeb;
    border-left: none;
    background-color: #fff;
    width: 205px;
    padding: 0 10px 19px
}

.small-catalog__item:first-child,.small-catalog__item:nth-child(5n+1) {
    border-left: 1px solid #ebebeb
}

.small-catalog__item:nth-child(1n+6) {
    border-top: none
}

.small-cat-card:hover {
	transform: scale(1.03);
    box-shadow: 0 0 6px rgba(0,0,0,.13);
    transition:all .1s ease;
}

.small-cat-card__picture-link {
    display: flex;
    height: 185px;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px
}

.small-cat-card__article {
    font-size: 10px;
    display: block;
    margin-bottom: 7px;
    color: #999
}

.small-cat-card__title {
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 9px;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.small-cat-card__button {
    width: auto;
    font-weight: 700;
    flex-grow: 1
}

.small-cat-card__price-button-wrapper {
    display: flex;
    align-items: center
}

.small-cat-card__price {
    margin-right: 17px
}

.small-cat-card__price-term {
    font-size: 10px;
    line-height: 13px;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
    display: block;
    margin-bottom: 2px
}

.small-cat-card__price-def {
    font-size: 18px;
    line-height: 24px
}

.advantages__item,.last-article__item {
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,.13)
}

.advantages {
    padding-bottom: 50px
}

.advantages__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.flex-art-wrapper,.last-article {
    justify-content: space-between;
    display: flex
}

.advantages__item {
    width: 508px;
    padding: 20px 20px 20px 115px;
    margin-bottom: 10px;
    background-color: #fff
}

.advantage {
    position: relative
}

.advantage::after,.advantage::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px
}

.advantage::before {
    border-radius: 50%;
    border: 1px solid #35cbba;
    background-color: #fff
}

.advantage::after {
    background-position: center
}

.advantage--cart::after {
    background-image: url(../img/cart.svg)
}

.advantage--produce::after {
    background-image: url(../img/produce.svg)
}

.advantage--service::after {
    background-image: url(../img/service.svg)
}

.advantage--discount::after {
    background-image: url(../img/discount.svg)
}

.advantage__title {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #35cbba
}

.advantage__desc {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 1px
}

.flex-art-wrapper,.pop-categories__title {
    margin-bottom: 30px
}

.last-articles__title,.pop-categories__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700
}

.pop-categories {
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    padding-top: 45px;
    padding-bottom: 53px
}

.pop-categories__wrapper {
    display: flex
}

.pop-categories__filters {
    min-height: 500px;
    width: 285px;
    flex-shrink: 0
}

.pop-categories__f-list {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    border-right: 1px solid rgba(216,216,216,.5)
}

.pop-categories__f-item {
    margin-bottom: 20px
}

.pop-categories__f-link {
    color: #909090;
    position: relative;
    transition: all .1s ease;
}

.pop-categories__f-link--active::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    top: 7px;
    right: -14px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid #35CBBA;
    transition: all .1s ease;
}

.pop-categories__f-link--active {
    color: #35CBBA;
    transition: all .1s ease;
}

.pop-categories__r-list {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: 858px;
    animation: fadeEffect 0.3s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.pop-categories__r-item {
    padding-left: 30px;
    padding-right: 24px
}

.pop-categories__r-link {
    line-height: 25px;
    color: #28B7A6
}

.last-articles {
    background-color: #3b3b3b;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative
}

.last-articles::after {
    background: linear-gradient(-135deg,#3b3b3b 10px,transparent 0),linear-gradient(135deg,#3b3b3b 10px,transparent 0);
    background-position: 5px top;
    background-repeat: repeat-x;
    background-size: 14px 18px;
    content: " ";
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: -13px;
    left: 0
}

.last-articles__to-all {
    width: auto;
    padding: 10px 30px;
    font-weight: 700
}

.flex-art-wrapper {
    align-items: center
}

.last-article__item {
    background-color: #8a7970;
    width: 248px;
    min-height: 280px;
    margin-bottom: 10px;
    padding-top: 118px
}

.last-article--med {
    background-image: url(../img/med.jpg);
    background-position-x: -18px;
    background-position-y: center
}

.last-article--keram {
    background-image: url(../img/keram.jpg);
    background-position-x: -5px;
    background-position-y: center
}

.last-article--skov {
    background-image: url(../img/skov.jpg);
    background-position-x: center;
    background-position-y: 1px
}

.last-article--prib {
    background-image: url(../img/prib.jpg);
    background-position-x: -34px;
    background-position-y: -9px
}

.last-article__title {
    font-size: 18px;
    padding: 0 20px;
    line-height: 24px;
    margin-bottom: 4px;
    color: #fff
}

.last-article__text {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 9px;
    color: #fff
}

.last-article__time {
    display: block;
    padding: 12px 20px 15px;
    font-size: 10px;
    border-top: 1px solid #D8D8D8;
    line-height: 13px;
    font-weight: 500;
    opacity: .5;
    color: #D8D8D8
}
