.advantage__desc,.cart-menu__data,.cart-menu__term,.contacts__phone,.contacts__time,.develop,
.f-contacts__desc,.f-contacts__link,.f-contacts__phone,.f-contacts__time,
.h-contacts__desc,.h-contacts__link,.h-contacts__phone,.h-contacts__time,
.footer-menu__list,.last-article__text,.search__input,.small-cat-card__article,.small-cat-card__price-def {
    font-family: OpenSans,Arial,sans-serif
}

.advantage::after,.cart-menu::before,.promo__item,.search__input {
    background-repeat: no-repeat
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.container {
	    margin: 0;
	}
@media (min-width: 1065px) {
	.container {
	    max-width: 1025px;
	    margin: 0 auto
	}
}

.button {
    display: block;
    border-radius: 20px;
    width: 180px;
    min-height: 40px;
    padding: 10px;
    font-size: 14px
}

.button--fat {
    width: 160px;
    padding: 14px;
    font-size: 12px;
    border-radius: 25px;
    font-weight: 600
}

.button--square {
    border-radius: 5px
}

.button--green {
    background-color: #35cbba;
    color: #fff
}

.button--green-outline {
    border: 1px solid #35cbba;
    background-color: #fff;
    color: #35cbba
}

.button--gray {
    background-color: #626262;
    color: #fff
}

.button--white {
    background-color: #fff;
    color: #35cbba
}

.button--gray,.button--white {
    box-shadow: 0 2px 6px rgba(0,0,0,.13)
}

.button {
    line-height: 20px;
    text-align: center
}

.button--t-up,.cart-menu__title,.fast-links__item {
    text-transform: uppercase
}


















.fast-links, {
    box-shadow: 0 2px 6px rgba(0,0,0,.13)
}








.fast-links {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px
}

.fast-links__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 6px
}

.fast-links__list:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 96%;
    height: 1px;
    background-color: #ebebeb;
    bottom: -1px;
    left: 20px
}

.fast-links__item {
    flex-grow: 1;
    text-align: center;
    font-weight: 700;
    line-height: 14px
}

.fast-links__item:first-child {
    padding-left: 0
}

.fast-links__item:last-child {
    padding-right: 0
}

.fast-links__link {
    display: block;
    padding: 12px 0 18px;
    position: relative
}

.fast-links__item:not(:last-child) .fast-links__link::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 40%;
    background-color: #ebebeb;
    top: -6px;
    margin: auto;
    bottom: 0;
    right: 0
}

.fast-links__item:hover .fast-links__link,
.fast-links__link:hover {
    background-color: #35cbba;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 16px 0 14px
}

.submenu__wrapper {
    position: absolute;
    display: none;
    box-shadow: 0 4px 6px rgba(0,0,0,.13);
    width: 100%;
    background-color: #fff;
    z-index: 19;
    border-top: 4px solid #35CBBA;
    padding: 20px 30px;
    text-align: left;
    text-transform: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    top: 49px
}

.fast-links__item:hover .submenu__wrapper {
    display: block
}

.fast-links__item:hover .fast-links__link::after,
.fast-links__link:hover::after {
    display: none
}

.submenu__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(216,216,216,.5)
}

.submenu__list {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap
}

.submenu__item {
    width: 33.3%
}

.promo {
    min-height: 380px;
    background-color: #6b6867;
    border-radius: 5px;
    color: #fff
}

.promo__item {
    padding: 52px 60px;
    min-height: 380px;
    background-image: url(../img/promo.jpg);
    background-size: cover
}

.promo__title {
    font-size: 38px;
    margin-bottom: 25px;
    line-height: 47px
}

.promo__link {
    font-weight: 600
}





.flex-art-wrapper,.pop-categories__title {
    margin-bottom: 30px
}

.pop-categories__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700
}

.pop-categories {
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    padding-top: 45px;
    padding-bottom: 53px
}

.pop-categories__wrapper {
    display: flex
}

.pop-categories__filters {
    min-height: 500px;
    width: 285px;
    flex-shrink: 0
}

.pop-categories__f-list {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    border-right: 1px solid rgba(216,216,216,.5)
}

.pop-categories__f-item {
    margin-bottom: 20px
}

.pop-categories__f-link {
    color: #909090;
    position: relative;
    transition: all .1s ease;
}

.pop-categories__f-link--active::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    top: 7px;
    right: -14px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid #35CBBA;
    transition: all .1s ease;
}

.pop-categories__f-link--active {
    color: #35CBBA;
    transition: all .1s ease;
}

.pop-categories__r-list {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: 858px;
    animation: fadeEffect 0.3s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.pop-categories__r-item {
    padding-left: 30px;
    padding-right: 24px
}

.pop-categories__r-link {
    line-height: 25px;
    color: #28B7A6
}

.
