.advantage__desc,.cart-menu__data,.cart-menu__term,.contacts__phone,.contacts__time,.develop,
.f-contacts__desc,.f-contacts__link,.f-contacts__phone,.f-contacts__time,
.h-contacts__desc,.h-contacts__link,.h-contacts__phone,.h-contacts__time,
.footer-menu__list,.last-article__text,.search__input,.small-cat-card__article,.small-cat-card__price-def {
    font-family: OpenSans,Arial,sans-serif
}

.advantage::after,.cart-menu::before,.promo__item,.search__input {
    background-repeat: no-repeat
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.container {
    margin: 0;
}
    
@media (min-width: 1065px) {
	.container {
	    max-width: 1025px;
	    margin: 0 auto
	}
}

.button {
    display: block;
    border-radius: 20px;
    width: 180px;
    min-height: 40px;
    padding: 10px;
    font-size: 14px
}

.button--fat {
    width: 160px;
    padding: 14px;
    font-size: 12px;
    border-radius: 25px;
    font-weight: 600
}

.button--square {
    border-radius: 5px
}

.button--green {
    background-color: #35cbba;
    color: #fff
}

.button--green-outline {
    border: 1px solid #35cbba;
    background-color: #fff;
    color: #35cbba
}

.button--gray {
    background-color: #626262;
    color: #fff
}

.button--white {
    background-color: #fff;
    color: #35cbba
}

.button--gray,.button--white {
    box-shadow: 0 2px 6px rgba(0,0,0,.13)
}

.button {
    line-height: 20px;
    text-align: center
}

.button--t-up,.cart-menu__title,.fast-links__item {
    text-transform: uppercase
}
